# Dependencies
node_modules/
.pnp
.pnp.js

# Production
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Playwright
playwright-report/
test-results/
blob-report/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
.parcel-cache/
.vite/

# Build output
out/
.next/
.nuxt/

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.idea/
*.iml
.settings/
.classpath
.project
.factorypath

# Mac / Windows system files
.DS_Store
Thumbs.db

# Editor folders and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional eslint cache
.eslintcache

# TypeScript
*.tsbuildinfo

# Storybook
/storybook-static

# Misc
*.log